.home {
    background: rgb(187, 187, 187);
}

.imgBx {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    border-radius: 50%;
    align-items: center;
    margin-top: 40px;
}

.img {
    position: relative;
    width: 300px;
    border-radius: 50%;
    align-items: center;
    margin-top: 40px;
}

.title {
    position: relative;
    text-align: center;
}

.subtitle {
    font-weight: bold;
    position: relative;
    text-align: center;
}

.text {
    font-size: large;
    position: relative;
    text-align: center;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.bottom{
    margin-bottom: 100px;
}